<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PUC Minas</title>
    <link rel="stylesheet"
          th:href="@{/css/login.css}">
</head>

<body>
<main class="container">
    <section class="card">
        <div class="branding">
            <img th:src="@{/images/PUC_Brasao.jpg}" alt="Brasão PUC Minas" class="brasao">
        </div>

        <div class="form-container">
            <h1>Login</h1>
            <form>
                <div class="input-group">
                    <input type="text" id="username" name="username" placeholder="Usuário" required>
                </div>

                <div class="input-group">
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                </div>

                <button type="submit" class="btn">
                    Entrar
                </button>
            </form>

            <div class="switch-form">
                <p>Ainda não tem cadastro?</p>

                <a th:href="@{/register}">
                    Cadastre-se
                </a>
            </div>
        </div>
    </section>
</main>
</body>
